# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/serviceAccount.json
/functions/serviceAccount.json
serviceAccount.json
public/serviceAccount.json
functions/serviceAccount.json
serviceAccount.json
public/firebaseConfig.js
public/serviceAccount.json
functions/serviceAccount.json
